<div class="container">
<h1> 
    &nbsp;&nbsp; &nbsp;&nbsp; 
    Image of product  &nbsp;&nbsp; &nbsp;&nbsp;  
    <i><b>{{data.productName}}</b></i></h1>
            
     <div class="row">
     
        
                    <mat-grid-list  cols="4" rowHeight="1:1" >
                        <mat-grid-tile *ngFor="let file of data.images" style="border-radius: 50%;border: 2px black;">
                            <div style="position: relative;">
                                <img [src]="file.url" width="100%" height="100%">
                               </div>
                        </mat-grid-tile>
                       
                    </mat-grid-list>
        </div>
     
</div>